/* Ukuran Layar Ipad */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .img-banner{
        height: 450px;
        opacity: 75%;
    }
}
@media screen and (max-width: 768px) {
    .img-banner{
        height: 450px;
        opacity: 75%;
    }
    .categori-box {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }
    .title-categori{
        font-size: 12px;
        font-weight: 400;
    }
    .col-md-2 {
        flex: 0 0 auto;
        width: 33.33%; /* Membagi lebar layar menjadi 3 kolom */
        max-width: 33.33%;
    }

}
/* Ukuran Layar HP 6 Inc */
@media screen and (max-width: 480px) {
    .img-banner{
        height: 250px;
        opacity: 75%;
    }
    .card{
        margin-top: 10px;
        height: 260px;
        width: 170px;
        padding-right: 10px;
    }
    .img-card{
        height: 140px;
        width: 140px;
    }
    .card-title{
        font-size: 12px;
    }
    .card-text{
        font-size: 9px;
    }
    #portfolio-member{
        height: auto;
    }
    .portfolio-title{
        font-size: 18px;
    }
    .portfolio-sub-title{
        font-size: 12px;
    }
    .card-portfolio{
        width: 170px;
        margin-top: 10px;
        padding-right: 10px;
    }
    .title-card-portfolio{
        font-size: 12px;
    }
    .img-portfolio{
        width: 120px;
    }
    .isi-text-portfolio{
        font-size: 9px;
    }
    .button-portfolio{
        font-size: 11px;
        padding: 5px 10px 5px 10px;
    }
    #gear-btn-container{
        left: 86%;
    }
    .gear-btn{
        font-size: 25px;
    }
    .img-card-blog{
        height: 220px;
    }
    .title-card-blog{
        font-size: 14px;
    }
    .card-desk{
        font-size: 11px;
    }
    .img-db-blog{
        width: 320px;
    }
    .card-blog{
        height: 370px;
    }
    .card-luar-kegiatan{
        gap: 1em;
        margin-top: 20px;
    }
    .img-card-kegiatan{
        height: 60px;
    }
    .judul-kegiatan{
        font-size: 12px;
    }
    .countdown{
        font-size: 9px;
    }
    .button-kegiatan{
        font-size: 10px;
    }
}
/* Ukuran Layar HP 5,5 Inc */
@media screen and (max-width: 320px) {
    .img-banner{
        height: 250px;
        opacity: 75%;
    }
    .card{
        gap: 1rem;
        margin-top: 1rem;
        height: 260px;
        width: 130px;
        padding: 0;
    }
    .img-card{
        height: 120px;
        width: 120px;
    }
    .card-title{
        font-size: 12px;
    }
    .card-text{
        font-size: 9px;
    }
    .img-card-blog{
        height: 200px;
    }
    .title-card-blog{
        font-size: 14px;
    }
    .card-desk{
        font-size: 11px;
    }
}
